<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Inicia sesión para continuar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-margin-top" (click)="login()">Ingresar</ion-button>
        
        <ion-button expand="full" fill="clear" (click)="goToRegister()">
          ¿NO TIENES CUENTA? REGÍSTRATE
        </ion-button>
        
        


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


